# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node/React
node_modules/
dist/
dist-ssr/
*.local

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

.vercel
.env*
