fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
pyjwt
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
google-generativeai
openai
reportlab
openpyxl
python-dotenv
email-validator
numpy
pandas
scikit-learn
opencv-python-headless
httpx<0.28.0
psycopg2-binary
